@media screen and (max-width: 767px) {
  .left {
    width: 100% !important;
  }
}

.knowledge {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.left {
  width: 70%;
  height: 100%;
}
.left div {
  height: 100%;
  width: 100%;
}
.left li {
  height: 180px;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
  cursor: pointer;
}
.left li p .left-title:hover {
  color: red;
}
.left li dl {
  height: 100%;
  width: 100%;
  display: flex;
}
.left li dl dt {
  height: 100px;
  width: 190px;
  margin-bottom: 10px;
}
.left li dl dt img {
  height: 100%;
  width: 100%;
}
.left li dl dd h4{
  margin-left: 10px;
}
.left li dl dd div {
  height: 20px;
  margin-top: 50px;
  display: flex;
  /* background: red; */
}
.left li dl dd div span {
  margin-left: 5px;
}
.left div p {
  display: flex;
  /* padding: 20px; */
}
.left div p span {
  margin-left: 10px;
}
.right {
  width: 25%;
  min-height: 100%;
  margin-left: 20px;
}
.right h3 {
  border-bottom: 1px solid #f3f3f3;
}
.modal li img {
  height: 247px;
  width: 450px;
}
.dl {
  height: 100px;
  width: 100%;
  /* background: red; */
  display: flex;
  line-height: 50px;
}
.dl dt {
  height: 100%;
  width: 100px;
}
.dl dt svg {
  height: 100%;
  width: 100%;
}
.top {
  /* height: 300px;
    width: 100%; */
  background: white;
  margin: 10px;
}
.top li:hover {
  color: red;
}
.top li span{
  margin-left: 10px;
}
.bottom {
  /* height: 500px;
    width: 100%; */
  background: white;
  margin: 10px;
}
.bottom li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.bottom li:hover {
  color: red;
}


.konwlegeList-item-svg .anticon svg{
  height: 15px;
  width: 15px;
}
.hui{
  color: #ccc;
  margin-left: 10px;
}
