/* body,
.con_right_box,
.HomeMain,
.recommendToReading_box,
.container,
.myitems {
    background: var(--background-color-b);
    color: var(--note-Text-color);
    animation: aa 0.1s infinite 0.3s;
} */
/* .Myswiper,
.RIght_list_item{
    background: var(--background-color-a);
    color: var(--note-Text-color);
} */
html,
body,
#root,
.wrap{
    background: var(--background-color-b);
    color: var(--note-Text-color-b);
    animation: aa 0.1s infinite 0.3s;
}

/* .ant-layout,
.ant-layout-header,
.ant-layout-content,
.site-layout-content {
    background: var(--background-color-a);
    color: var(--note-Text-color-a);
} */
/* 
body,
.wrap,
.ant-layout,
.ant-layout-header,
.ant-layout-content,
.site-layout-content {
    background: #ccc;
    color: #000;
    animation: aa 0.1s infinite 0.3s;
}

.ant-layout,
.ant-layout-header,
.ant-layout-content,
.site-layout-content {
    background: #000;
    color: #ccc;
} */
