@charset "UTF-8";
:root.dark {
  /* 黑天 */
  --background-color-b: #282c35 !important;
  --note-Text-color-b: #ccc;
}

:root.dark .wrap {
  background-color: #282c35 !important;
}

:root.dark .ant-layout-header {
  background-color: #1b1e24 !important;
}

:root.dark .ant-layout-header .ant-menu-overflow {
  background-color: #1b1e24;
  transition: all 0ms !important;
}

:root.dark .ant-layout-header a {
  color: #fff;
}

:root.dark .home-header-nav-tabtitle {
  color: #fff;
}

:root.dark .list-item-wrap-box-cintent-right-svg .ListItemNum {
  color: #fff !important;
}

:root.dark .ant-empty {
  background-color: #282c35 !important;
  color: #fff !important;
}

:root.dark .article-list-box {
  background-color: #20232a !important;
  color: #fff !important;
}

:root.dark .list-item-wrap {
  background-color: #282c35 !important;
  color: #fff !important;
}

:root.dark .list-item-wrap .list-item-wrap-box {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  border-bottom: #282c35;
  border-bottom: 1px solid #1a1c22;
}

:root.dark .list-item-wrap .list-item-wrap-box .icon {
  color: #282c35 !important;
}

:root.dark .category-wrap-left-information {
  background-color: #282c35 !important;
  color: #fff !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.dark .category-wrap-left-content-title {
  background-color: #282c35 !important;
  color: #fff !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.dark .nav-pop-box {
  background-color: #282c35;
  color: #fff;
}

:root.dark .nav-pop-box a {
  color: #fff;
}

:root.dark .nav-pop-box .active {
  color: red !important;
}

:root.dark .ant-layout-content {
  background-color: #282c35;
  color: #fff;
}

:root.dark .list-item-wrap-box {
  background-color: #282c35 !important;
  color: #fff;
}

:root.dark .recommend-wrap {
  background-color: #282c35 !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  color: #fff;
}

:root.dark .article-wrap-left {
  background-color: #1b1e24;
  color: #fff;
}

:root.dark .article-wrap-left .article-wrap-left-swiper {
  background-color: #1b1e24;
  color: #fff;
}

:root.dark .article-wrap-left .article-wrap-left-list .article-wrap-left-list-nav {
  background-color: #1b1e24;
  color: #fff;
}

:root.dark .article-wrap-left .article-wrap-left-list .article-wrap-left-list-nav .ant-menu-overflow {
  background-color: #1b1e24;
  color: #fff;
}

:root.dark .article-wrap-left .article-wrap-left-list .list-item-wrap {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .article-wrap-left .article-wrap-left-list .list-item-wrap {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .leftBox {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .knowledge .left {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .site-layout-dialog {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .site-layout-dialog .site-layout-middleBox {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .empty-wrap {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .detail .left {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .detail .left .div {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .detail .left .div button {
  background-color: #1b1e24 !important;
  color: #fff;
  border: 1px solid #ccc;
}

:root.dark .detail .right h3 {
  color: #fff;
}

:root.dark .detail .right .list {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .detail .right .list li {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .detail .right .list li h3 {
  color: #fff;
}

:root.dark .Detail .DetailsLeft #markedHtml h1,
:root.dark .Detail .DetailsLeft #markedHtml h2,
:root.dark .Detail .DetailsLeft #markedHtml h3 {
  color: #fff !important;
}

:root.dark .Detail .DetailsLeft pre {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .tag-wrap {
  background-color: #282c35 !important;
  color: #fff;
}

:root.dark .tag-wrap .zuo {
  background-color: #1b1e24 !important;
  color: #fff;
}

:root.dark .tag-wrap .zuo .zuos {
  background-color: #1b1e24 !important;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.dark .tag-wrap .zuo .zuoz {
  background-color: #1b1e24 !important;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.dark .tag-wrap .zuo .zuoz #tag {
  background: #000 !important;
  color: #fff;
}

:root.dark .tag-wrap .zuo .zuoz h3 {
  color: #fff;
}

:root.dark .tag-wrap .zuo .zuoz p {
  color: #fff;
}

:root.dark .tag-wrap .zuo .zuox {
  background-color: #1b1e24 !important;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.dark .anticon svg {
  color: #fff !important;
}

:root.light {
  /* 白天 */
  --background-color-b: #e7eaee !important;
  --note-Text-color-b: #282c35;
}

:root.light .wrap {
  background-color: #e7eaee !important;
}

:root.light .ant-layout-header {
  background-color: #fff !important;
}

:root.light .ant-layout-header .ant-menu-overflow {
  background-color: #fff;
  transition: all 0s;
}

:root.light .ant-layout-header a {
  color: #282c35;
}

:root.light .ant-layout-content {
  background-color: #eee;
  color: #282c35;
  border: 1px solid #eee;
}

:root.light .recommend-wrap {
  background-color: #fff;
  color: #282c35;
}

:root.light .article-wrap-left {
  background-color: #fff;
  color: #1b1e24;
}

:root.light .article-wrap-left .article-wrap-left-swiper {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .article-wrap-left .article-wrap-left-list .article-wrap-left-list-nav {
  background-color: #fff;
  color: #1b1e24;
}

:root.light .article-wrap-left .article-wrap-left-list .article-wrap-left-list-nav .ant-menu-overflow {
  background-color: #fff;
  color: #1b1e24;
}

:root.light .article-wrap-left .article-wrap-left-list .list-item-wrap {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .article-wrap-left .article-wrap-left-list .list-item-wrap {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .leftBox {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .knowledge .left {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .site-layout-dialog {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .site-layout-dialog .site-layout-middleBox {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .empty-wrap {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .left {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .left .div {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .left .div button {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .right .list {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .right .list li {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .detail .right .list li h3 {
  color: #1b1e24;
}

:root.light .Detail .DetailsLeft #markedHtml h1,
:root.light .Detail .DetailsLeft #markedHtml h2,
:root.light .Detail .DetailsLeft #markedHtml h3 {
  color: #1b1e24 !important;
}

:root.light .Detail .DetailsLeft pre {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .tag-wrap {
  background-color: #eee !important;
  color: #1b1e24;
}

:root.light .tag-wrap .zuo {
  background-color: #eee !important;
  color: #1b1e24;
}

:root.light .tag-wrap .zuo .zuos {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .tag-wrap .zuo .zuoz {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .tag-wrap .zuo .zuoz #tag {
  background: #fff !important;
  color: #1b1e24;
}

:root.light .tag-wrap .zuo .zuox {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .anticon {
  color: #1b1e24;
}

:root.light .anticon svg {
  color: #1b1e24 !important;
}

:root.light .list-item-wrap-box {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .nav-pop-box {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .nav-pop-box a {
  color: #1b1e24;
}

:root.light .nav-pop-box .active {
  color: red !important;
}

:root.light .list-item-wrap {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .list-item-wrap .list-item-wrap-box {
  box-shadow: none;
}

:root.light .category-wrap-left-information {
  background-color: #fff !important;
  color: #1b1e24;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

:root.light .ant-empty {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .article-list-box {
  background-color: #fff !important;
  color: #1b1e24;
}

:root.light .home-header-nav-tabtitle {
  color: #000;
}

:root.light .list-item-wrap-box-cintent-right-svg .ListItemNum {
  color: #333 !important;
}
