:root.dark {
    /* 黑天 */
    --background-color-b: #282c35 !important;
    --note-Text-color-b: #ccc;

    .wrap {
        background-color: #282c35 !important;
    }

    // 文章
    .ant-layout-header {
        background-color: #1b1e24 !important;

        .ant-menu-overflow {
            background-color: #1b1e24;
            transition: all 0ms !important;
        }

        a {
            color: #fff;
        }

    }

    .ant-back-top-icon {
        .anticon {
            svg {
                margin: 5px;
                color: #fff !important;
            }
        }
    }

    .Details {
        #markedHtml{
            h1{
            color: #ccc !important;
            }
            h2{
                color: #ccc !important;
            }
            h3{
                color: #ccc !important;
            }
            h4{
                color: #ccc !important;
            }
            h5{
                color: #ccc !important;
            }
            table{
                border: 1px solid #ccc;
            }
            th{
                border: 1px solid #ccc;
            }
            tr{
                border: 1px solid #ccc;
            }
            th{
                border: 1px solid #ccc;
            }
            td{
                border: 1px solid #ccc;
            }
        }
        .imgg {
            border: 1px solid #20232a !important;
        }

        .comments {
            background-color: #15171b !important;
            color: #fff !important;

            .commentList {
                background-color: #15171b !important;
            }
        }
        .ant-pagination{
            .ant-pagination-item{
                background-color: #15171b !important;
                a{
                color: #fff !important;

                }
            }
            .ant-pagination-item-link{
                background-color: #15171b !important;
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .DetailsLeft {
            background-color: #15171b !important;
            color: #fff !important;

            pre {
                background-color: #15171b !important;
                color: #ccc !important;
                border: 1px solid #282c35 !important;
            }

            h1 {
                color: #ccc;
            }
        }

        .DetailsLefts {

            .H3 {
                background-color: #282c35 !important;
                border: 1px solid #20232a;

                h3 {
                    color: #ccc !important;
                }
            }

            #hee {
                background-color: #282c35 !important;

                .fa {
                    border: 1px solid #20232a;

                    .Fa {
                        background-color: #282c35 !important;
                        color: #ccc;
                        border: 1px solid #000;

                    }
                }
            }
        }
    }

    .right {
        background-color: #15171b !important;
        color: #fff !important;
    }

    .home-header-nav-tabtitle {
        color: #fff;
    }

    .footer-github-wrap {
        background-color: #15171b !important;
        color: #fff !important;
    }

    .list-item-wrap-box-cintent-right-svg {
        .ListItemNum {
            color: #fff !important;
        }
    }

    //
    .ant-empty {
        background-color: #15171b !important;
        color: #fff !important;
    }

    .article-list-box {
        background-color: #20232a !important;
        color: #fff !important;
    }

    .list-item-wrap {
        background-color: #282c35 !important;
        color: #fff !important;

        .list-item-wrap-box {
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
            border-bottom: #282c35;
            border-bottom: 1px solid #1a1c22;

            .icon {
                color: #282c35 !important;
            }
        }
    }

    // 
    .category-wrap-left-information {
        background-color: #282c35 !important;
        color: #fff !important;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    }

    .category-wrap-left-content-title {
        background-color: #282c35 !important;
        color: #fff !important;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    }

    // 头部 导航 手机端 弹框 
    .nav-pop-box {
        background-color: #282c35;
        color: #fff;

        a {
            color: #fff;
        }

        .active {
            color: red !important;
        }
    }


    .ant-layout-content {
        background-color: #282c35;
        color: #fff;
    }

    .list-item-wrap-box {
        background-color: #282c35 !important;
        color: #fff;
    }

    .recommend-wrap {
        background-color: #282c35 !important;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;

        color: #fff;
    }

    .article-wrap-left {
        background-color: #1b1e24;
        color: #fff;

        .article-wrap-left-swiper {
            background-color: #1b1e24;
            color: #fff;
        }

        .article-wrap-left-list {
            background-color: #20232a !important;

            .article-wrap-left-list-nav {
                background-color: #20232a !important;
                color: #fff;

                .ant-menu-overflow {
                    background-color: #1b1e24;
                    color: #fff;
                }
            }

            .list-item-wrap {
                background-color: #1b1e24 !important;
                color: #fff;
            }

            .list-item-wrap {
                background-color: #1b1e24 !important;
                color: #fff;
            }
        }
    }

    // 档案
    .leftBox {
        background-color: #1b1e24 !important;
        color: #fff;
    }

    // 知识小册
    .knowledge {
        .left {
            background-color: #1b1e24 !important;
            color: #fff;
        }
    }

    // 搜索弹框
    .site-layout-dialog {
        background-color: #1b1e24 !important;
        color: #fff;

        .site-layout-middleBox {
            background-color: #1b1e24 !important;
            color: #fff;
        }
    }

    //暂无数据页面
    .empty-wrap {
        background-color: #1b1e24 !important;
        color: #fff;
    }

    // 知识小册详情页
    .detail {
        .left {
            background-color: #1b1e24 !important;
            color: #fff;

            .div {
                background-color: #1b1e24 !important;
                color: #fff;

                button {
                    background-color: #1b1e24 !important;
                    color: #fff;
                    border: 1px solid #ccc;
                }
            }
        }

        .right {
            h3 {
                color: #fff;
            }

            .list {
                background-color: #1b1e24 !important;
                color: #fff;

                li {
                    background-color: #1b1e24 !important;
                    color: #fff;

                    h3 {
                        color: #fff;
                    }
                }
            }
        }

        // 头部图标
    }

    // 档案详情页
    .Detail {
        .DetailsLeft {
            #markedHtml {

                h1,
                h2,
                h3 {
                    color: #fff !important;
                }
            }

            pre {
                background-color: #1b1e24 !important;
                color: #fff;
            }
        }
    }

    // 标签页
    .tag-wrap {
        background-color: #282c35 !important;
        color: #fff;


        .zuo {
            background-color: #1b1e24 !important;
            color: #fff;

            .zuos {
                background-color: #1b1e24 !important;
                color: #fff;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;

            }

            .zuoz {
                background-color: #1b1e24 !important;
                color: #fff;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;


                #tag {
                    background: #000 !important;
                    color: #fff;
                }

                h3 {
                    color: #fff;
                }

                p {
                    color: #fff;
                }
            }

            .zuox {
                background-color: #1b1e24 !important;
                color: #fff;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;

            }
        }
    }

    .anticon {
        svg {
            color: #fff !important;
        }
    }

    .footer-github-wrap {
        background-color: #1b1e24 !important;
        color: #fff;
    }
}

:root.light {
    /* 白天 */
    --background-color-b: #e7eaee !important;
    --note-Text-color-b: #282c35;

    // 文章
    .wrap {
        background-color: #e7eaee !important;
    }

    .ant-layout-header {
        background-color: #fff !important;

        // .home-header-nav-tabtitle {
        //     background-color: #fff !important;
        .ant-menu-overflow {
            background-color: #fff;
            transition: all 0s;
        }

        a {
            color: #282c35;
        }

        // }
    }

    .right {
        background-color: #fff !important;
        color: #1b1e24 !important;
    }

    .ant-layout-content {
        background-color: #eee;
        color: #282c35;
        border: 1px solid #eee;
    }

    .recommend-wrap {
        background-color: #fff;
        color: #282c35;
    }

    .article-wrap-left {
        background-color: #eee;
        color: #1b1e24;

        .article-wrap-left-swiper {
            background-color: #fff !important;
            color: #1b1e24;
        }

        .article-wrap-left-list {

            .article-wrap-left-list-nav {
                background-color: #fff;
                color: #1b1e24;

                .ant-menu-overflow {
                    background-color: #fff;
                    color: #1b1e24;
                }
            }

            .list-item-wrap {
                background-color: #eee !important;
                color: #1b1e24;
            }
        }
    }

    // 档案
    .leftBox {
        background-color: #fff !important;
        color: #1b1e24;
    }

    // 知识小册
    .knowledge {
        .left {
            background-color: #fff !important;
            color: #1b1e24;
        }

        .right {
            background-color: #eee !important;
        }
    }

    // 搜索弹框
    .site-layout-dialog {
        background-color: #fff !important;
        color: #1b1e24;

        .site-layout-middleBox {
            background-color: #fff !important;
            color: #1b1e24;
        }
    }

    //暂无数据页面
    .empty-wrap {
        background-color: #fff !important;
        color: #1b1e24;
    }

    // 知识小册详情页
    .detail {
        .left {
            background-color: #fff !important;
            color: #1b1e24;

            .div {
                background-color: #fff !important;
                color: #1b1e24;

                button {
                    background-color: #fff !important;
                    color: #1b1e24;
                }
            }
        }

        .right {
            .list {
                background-color: #fff !important;
                color: #1b1e24;

                li {
                    background-color: #fff !important;
                    color: #1b1e24;

                    h3 {
                        color: #1b1e24;
                    }
                }
            }
        }
    }

    // 档案详情页
    .Detail {
        .DetailsLeft {
            #markedHtml {

                h1,
                h2,
                h3 {
                    color: #1b1e24 !important;
                }
            }

            pre {
                background-color: #fff !important;
                color: #1b1e24;
            }
        }
    }

    // 标签页
    .tag-wrap {
        background-color: #eee !important;
        color: #1b1e24;

        .zuo {
            background-color: #eee !important;
            color: #1b1e24;

            .zuos {
                background-color: #fff !important;
                color: #1b1e24;
            }

            .zuoz {
                background-color: #fff !important;
                color: #1b1e24;

                #tag {
                    background: #fff !important;
                    color: #1b1e24;
                }
            }

            .zuox {
                background-color: #fff !important;
                color: #1b1e24;
            }
        }
    }

    // 图标图标
    .anticon {
        color: #1b1e24;

        svg {
            color: #1b1e24 !important;
        }
    }

    .list-item-wrap-box {
        background-color: #fff !important;
        color: #1b1e24;
    }


    // 首页 头部导航 弹框
    .nav-pop-box {
        background-color: #fff !important;
        color: #1b1e24;

        a {
            color: #1b1e24;
        }

        .active {
            color: red !important;
        }
    }

    //
    .list-item-wrap {
        background-color: #fff !important;
        color: #1b1e24;

        .list-item-wrap-box {
            box-shadow: none;
        }
    }

    .category-wrap-left-information {
        background-color: #fff !important;
        color: #1b1e24;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    }

    .ant-empty {
        background-color: #fff !important;
        color: #1b1e24;
    }

    .article-list-box {
        background-color: #fff !important;
        color: #1b1e24;
    }

    .home-header-nav-tabtitle {
        color: #000;
    }

    .list-item-wrap-box-cintent-right-svg {
        .ListItemNum {
            color: #333 !important;
        }
    }

    .footer-github-wrap {
        background-color: #fff !important;
        color: #282c35 !important;
    }

    .ant-back-top-icon {
        .anticon {
            svg {
                margin: 5px;
                color: #fff !important;
            }
        }
    }



    .Details {
        .imgg {
            border: 1px solid #fff;
        }

        .comments {
            background-color: #fff !important;
            color: #282c35 !important;

            .commentList {
                background-color: #fff !important;
            }
        }


        .DetailsLeft {
            background-color: #fff !important;
            color: #333 !important;

            pre {
                background-color: #fff !important;
                color: #666 !important;
                border: 1px solid #eee !important;
            }


        }

        .DetailsLefts {

            .H3 {
                background-color: #fff !important;
                color: #333 !important;
            }
        }
    }


}