/* 引入 antd 样式 */
@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
#root,
.wrap {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
/* style={{ animation: `example1 ${(index + 1) * 0.1}s ease-out ${(index + 2) * 0.1}s backwards` }}  */

@keyframes example1 {
  0% {
    transform: translate(-60px);
    opacity: 0;
  }

  50% {
    transform: translate(-30px);
    opacity: 0.5;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  45% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  55% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes example3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  style={{ animation: `examples1${(index + 1) * 0.1}s ease-out ${(index + 2) * 0.1}s backwards` }}  */ 

@keyframes examples1 {
  0% {
    /* transform: scale(0,0.3); */
    transform: translate(0px,-50px);
    opacity: 0;
  }
  50% {
    /* transform: scale(0,0.6); */
    transform: translate(0px,-30px);
    opacity: 0.5;
  }
  100% {
     /* transform: scale(0,1); */
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes examples2 {
  0% {
    opacity: 0;
  }

  /* 40% {
    opacity: 0.8;
  } */

  45% {
    opacity: 0.3;
  }
/*  
  50% {
    opacity: 0.8;
  }  */

  55% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes examples3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
