.bullet-frams-wrap .bullet-grams-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.bullet-frams-wrap .bullet-grams-QRCodeSVG {
  display: flex;
}

.bullet-frams-wrap .ant-modal-body .bullet-grams-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.bullet-imgs {
  width: 470px !important;
  height: 400px !important;
}

.images {
  width: 400px;
  height: 200px;
}

.bullet-grams-QRCodeSVG {
  display: flex !important;
}

.bullet-grams-QRCodeSVG-title {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  margin-left: 10px;
}

.footer {
  height: 40px;
  /* background: red; */
  border-top: 1px solid #f3f3f3;
  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.ant-modal-close-x .anticon svg {
  height: 15px;
  width: 15px;
}
