.list-item-wrap {
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
}

.list-item-wrap .list-item-wrap-box {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-title {
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-title span {
  color: #999;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-title i {
  color: #999;
  font-style: normal;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-left {
  width: 250px;
  height: 150px;
  background-color: seagreen;
  overflow: hidden;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-left img {
  width: 350px;
  object-fit: cover;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-right {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-right .list-item-wrap-box-cintent-right-svg .anticon > svg {
  width: 16.5px;
  height: 16.5px;
  position: relative;
  top: -2px;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-right .list-item-wrap-box-cintent-right-svg span {
  margin: 0 5px;
  color: #333;
}

.list-item-wrap .list-item-wrap-box .list-item-wrap-box-content .list-item-wrap-box-content-right .list-item-wrap-box-cintent-right-svg span b {
  position: relative;
  top: -3px;
  margin: 0 4px;
  color: #333;
  font-weight: normal;
}

.list-item-wrap .list-item-wrap-box:hover .b-title {
  transition: all 0.3s;
  color: tomato;
}
