.list-item-wrap {
    width: 100%;
    cursor: pointer;

    .list-item-wrap-box {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 20px;


        .list-item-wrap-box-title {
            width: 100%;
            height: 35px;
            line-height: 35px;

            span {
                color: #999;
            }

            i {
                color: #999;
                font-style: normal;
            }


        }

         .list-item-wrap-box-content {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;

            .list-item-wrap-box-content-left {
                width: 250px;
                height: 120px;
                // background-color: seagreen;
                overflow: hidden;

                img {
                    width: 350px;
                    // height: 150px;
                    width: 250px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                // .cover{
                //     border-radius: 8px;
                // }
            }

            .list-item-wrap-box-content-right {
                // min-width: 300px;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;

                .list-item-wrap-box-cintent-right-svg {
                    .anticon>svg {
                        // font-size: 15px;
                        width: 16.5px;
                        height: 16.5px;
                        position: relative;
                        top: -2px;
                    }

                    span {
                        margin: 0 5px;
                        color: #333;

                        b {
                            position: relative;
                            top: -3px;
                            margin: 0 4px;
                            color: #333;
                            font-weight: normal;
                        }
                    }

                }
            }
        }
    }

    .list-item-wrap-box:hover {
        .b-title {
            transition: all 0.3s;
            color: tomato;
        }
    }
}