.ant-empty-image {
    padding-bottom: 130px;
}

.ant-space{
    width: 100% !important;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-space-item{
        span{
            border: none !important;
            color: #eb2f96 !important;

           
            .IconLoading{
                color: #eb2f96 !important;
            }
        }
    }
    .anticon{
        svg{
            color: #eb2f96 !important;
        }
    }
}