
.comments{

.commentList{
    width: 100%;
    height: 150px;
    background: #fff;
    padding-left: 50px;
    padding-top: 10px;
}

    .author {
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 50px;
    border-radius: 50%;
  }
}

