.footer-github-wrap{
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 0;
    // position: fixed;
    // bottom: 0;
    // left: 0;

    .footer-github {
        font-size: 20px;
        cursor: pointer;
    }

    .footer-CopyrightOutlined {
        svg {
            width: 16.5px;
            height: 16.5px;
            margin: 0 5px;
        }
    }
}