@media screen and (max-width: 767px) {
  .right {
    display: none !important;
  }
  .left {
    width: 100% !important;
  }
}

.detail {
  /* height: 100%; */
  width: 90%;
  /* background: white; */
  margin: 0 auto;
  display: flex;
  /* overflow: scroll; */
  justify-content: space-between;
}
.left {
  height: 100%;
  width: 70%;
  /* background: #f2f2f2; */
  /* text-align: center; */
  /* background: red; */
}

.left .div {
  width: 90%;
  height: 80%;
  /* background: white; */
  text-align: center;
  line-height: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 0 20;
}
.zz {
  margin-left: 50px;
}
.left div .img {
  width: 98%;
  height: 400px;
  margin: 16px;
  margin-left: 50px;
}
.ant-breadcrumb {
  height: 50px;
  width: 100%;
  /* background: red; */
  /* margin-left: 45px; */
}
.ant-breadcrumb ol li {
  background: none;
  height: 50px;
  border-bottom: none;
}
.ant-breadcrumb-link {
  margin-left: -5px;
}
.left .div p {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.right {
  width: 29%;
  /* height: 100%; */
  /* position: fixed; */
  /* top: 10%; */
  /* right: 18%; */
  /* background-color: #fff; */
}
.right .list {
  width: 100%;
  /* background: white; */
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right>h3{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.right .list li {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
  /* background: white; */
}
.right li p h3:hover {
  color: red;
}
.right li dl {
  height: 100%;
  width: 100%;
  display: flex;
}
.right li dl dt {
  height: 100px;
  width: 190px;
  margin-bottom: 10px;
}
.right li dl dt img {
  height: 100%;
  width: 100%;
}
.right li dl dd {
  flex: 1;
  line-height: 30px;
}
.right li dl dd p {
  margin-top: 50px;
  display: flex;
}
.right li dl dd p span {
  margin-left: 3px;
}
.right .list p {
  display: flex;
  /* padding: 20px; */
}
.right .list p span {
  margin-left: 3px;
}
.modal li img {
  height: 247px;
  width: 450px;
}
.right .anticon svg {
  height: 15px;
  width: 15px;
}
