@media screen and (max-width: 767px) {
    .site-layout-content {
        padding: 10px 0 !important;
    }

    .ant-layout-header {
        padding: 0 10px !important;
    }

}

.home-wrap {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767px) {
        .site-layout-content {
            padding: 10px 0 !important;
        }
    }

    .ant-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-layout-header {
            width: 100%;
            height: 65px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10%;
            // position: sticky;
            .ant-anchor-ink{
                display: none;
            }
            .home-header-nav {
                height: 100%;
                display: flex;

                .home-header-nav-image {
                    width: 100px;
                    height: 100%;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 5px;
                        overflow: hidden;
                        margin: 0 15px;
                        cursor: pointer;
                    }
                }

                .home-header-nav-tabtitle {
                    height: 100%;
                    min-width: 350px;
                    display: flex;
                    justify-content: space-around;
                    user-select: none;
                    cursor: pointer;
                    font-weight: 700;
                    // font-size: 17px;
                }
                .action{
                    color: #ff0064 !important;
                }
            }



            .home-header-utils {
                width: 250px;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .svg-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s;
                }
            }
        }

        .ant-layout-content {
            width: 100%;
            min-height: 90% !important;
            // // background-color: #eee;
            .site-layout-content {
                // // background-color: #eee;
                padding: 10px 10%;
                min-height: 590px;
            }
        }

        .ant-layout-footer {
            background-color: #666;
            color: #fff;
        }
    }
}

.site-layout-dialog {
    width: 100%;
    height: 100%;
    // // background: #fff;
    position: fixed;
    top: 0;
    left: 0;

    .site-layout-middleBox {
        width: 70%;
        height: 100%;
        // // background: #fff;
        position: fixed;
        top: 0;
        left: 15%;

        .site-layout-headerBox {
            width: 100%;
            height: 100px;
            // // background: #fff;
            display: flex;
            justify-content: space-between;

            .site-layout-headerBox-left {
                p {
                    // // color: #000;
                    font-size: 25px;
                    padding-top: 35px;
                    font-weight: bold;
                }
            }

            .site-layout-headerBox-right {
                .site-layout-headerBox-right-box {
                    width: 50px;
                    height: 50px;
                    // background: skyblue;
                    margin-top: 35px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // // color: #cfcfcf;
                    cursor: pointer;

                    .SearchIcon {
                        width: 100%;
                        height: 100px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }

        .site-layout-ListBox {
            width: 100%;
            height: 500px;
            // background: #fff;
            p {
                cursor: pointer;
            }
        }
    }
}

:root.light {
    background: #ccc;
    color: #000;
}

:root.dark {
    background: #000;
    color: #ccc;
}

.home-header-phone-image {
    width: 100px;
    height: 100%;

    img {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 15px;
        cursor: pointer;
    }
}


.nav-pop-box {
    position: fixed;
    display: none;
    position: sticky;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .action{
        color: #ff0064 !important;
    }

    div {
        height: 60px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #666;
        }

    }
    .phone-utils{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active {
        color: red;
    }
}

.wrap_header_li {
    cursor: pointer;
}

.anticon {
    svg {
        width: 30px;
        height: 30px;
    }
}
#iconFont {
    padding-top:5px;
}

.site-back-top-basic {
    display: none;
}