.category-wrap{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    .category-wrap-left{
        width: 69%;
        height: 100%;
        .category-wrap-left-information{
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0 20px 0;

            span{
                font-size: 16px;
            }
            b{
                font-size: 20px;
                color: #ff0064;
                margin: 0 3px;
            }
        }

        .category-wrap-left-content{
            width: 100%;
            .category-wrap-left-content-title{
                width: 100%;
                min-height: 60px;
                background-color: #fff;
                display: flex;
                flex-wrap: wrap;
                margin: 15px 0;
                // justify-content: space-between;
                span{
                    display: inline-block;
                    padding: 3px 5px;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: all 0.2s;
                }
                span:hover{
                    color: #ff0064;
                }
            }
        }
    }
    .category-wrap-right{
        width: 30%;
        height: 100%;
        .category-wrap-right-top{
            width: 100%;
            
        }
        .category-wrap-right-bottom{
            width: 100%;
            
            span {
                display: inline-block;
                border: 1px solid #eee;
                margin: 3px 5px;
                padding: 3px 5px;
                font-size: #333;
                font-size: 13px;
                cursor: pointer;
            }

            span:hover {
                transition-duration: 1s;
                border: 1px solid #ff0064;
                color: #ff0064;
            }
        }
    }
    .title-item{
        color: #ff0064;
    }
    
}