@media screen and (max-width: 767px) {
    .recommend-wrap {
        display: none;
    }
}

.recommend-wrap {
    width: 100%;
    // min-height: 100px;
    padding: 0 0 10px 0;
    // background-color: #ccc;
    margin-bottom: 20px;

    .recommend-wrap-title {
        width: 100%;
        height: 50px;
        display: flex;
        text-indent: 1em;
        align-items: center;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .recommend-wrap-list {
        width: 100%;

        li {
            width: 100%;
            height: 40px;
            line-height: 35px;
            text-indent: 1em;
            cursor: pointer;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        li:hover {
            color: #ff0064;
            transition-duration: 1s;
        }

    }
}