.bullet-frams-wrap {
    .bullet-grams-title {
        width: 100%;
        height: 50px;
        b{
            display: inline-block !important;
            height: 50px !important;
            line-height: 50px !important;
        }
    }

    .bullet-grams-QRCodeSVG {
        display: flex !important;
    }

    .ant-modal-body{
        .bullet-grams-img {
            width: 100%;
            height: 200px;
            overflow: hidden;
        }
    }
}

.bullet-imgs {
    width: 470px !important;
}

.images{
    width: 400px;
    height: 200px;
}
.bullet-grams-title {
    width: 100%;
    height: 50px;
    b{
        display: inline-block !important;
        height: 50px !important;
        line-height: 50px !important;
        font-size: 18px;
    }
}