* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
#root,
.wrap {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 857px) {
    .rightBox {
        display: none !important;
    }

    .leftBox {
        width: 100% !important;
    }
}

.home-wrap {
    width: 100%;
    height: 100%;
}

.site-layout-content {
    width: 100%;
    height: 100%;

    // background: yellow;
    .ArchivesBox {
        width: 100%;
        height: 100%;
        // background: skyblue;
        display: flex;
        flex-direction: row;

        .leftBox {
            width: 65%;
            // height: 600px;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            .topBox {
                width: 100%;
                height: 120px;
                border-bottom: 1px solid #000;
                display: flex;
                flex-direction: column;
                // justify-self: center;
                justify-content: center;
                align-items: center;

                p {
                    margin-bottom: 0;
                }

                .text_one {
                    font-size: 30px;
                    font-weight: bold;
                    color: red;
                }

                .text_tow {
                    span {
                        color: red;
                        font-size: 25px;
                    }
                }
            }

            .bottomBox {
                flex: 1;

                .textOne {
                    font-size: 25px;
                    line-height: 20px;
                    padding-left: 20px;
                    padding-top: 20px;
                }

                .textTwo {
                    font-size: 18px;
                    line-height: 15px;
                    padding-left: 40px;
                }

                ul li span {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 40px;
                }
            }
        }

        .rightBox {
            width: 30%;
            height: 100%;
            // background: #ccc;
            margin-left: 30px;

            .right_TopBox {
                width: 100%;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

                h2 {
                    border-bottom: 1px solid #ccc;
                    line-height: 65px;
                    margin-left: 10px;
                    font-size: 15px;
                }

                ul {
                    padding-top: 5px;
                    padding-bottom: 30px;
                    //    padding-left:50px;
                    margin-left: 15px;

                    li {
                        list-style: none;
                        font-size: 14px;
                        color: #313137;
                        line-height: 30px;
                    }

                    li:hover {
                        color: red;
                    }
                }
            }

            .right_BottomBox {
                width: 100%;
                background: #fff;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

                h2 {
                    border-bottom: 1px solid #ccc;
                    line-height: 65px;
                    margin-left: 10px;
                    font-size: 15px;
                }

                ul {
                    padding-top: 5px;
                    padding-bottom: 30px;
                    //    padding-left:50px;
                    margin-left: 10px;

                    li {
                        list-style: none;
                        font-size: 14px;
                        color: #313137;
                        line-height: 30px;
                         
                        span {
                            font-size: 14px;
                            color: #313137;
                            display: inline-block;
                            width: 100px;
                        }

                        span:hover {
                            color: red;
                        }
                    }
                    li:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

ul {
    margin-left: 80px;

    li {
        font-size: 13px;
        cursor: pointer;
        list-style-type: disc;

        span {
            font-size: 20px;
            padding-left: 10px;
        }
    }

    li:hover {
        color: red;
    }
}