// * {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }
// html,
// body,
// #root,
// .wrap {
//     width: 100%;
//     height: 100%;
// }

// .home-wrap {
//     width: 100%;
//     height: 100%;
// }
// .site-layout-content {
//     width: 100%;
//     height: 100%;
//     // background: yellow;
//     .ArchivesBox {
//         width: 100%;
//         height: 100%;
//         background: skyblue;
//         display: flex;
//         flex-direction: row;
//         .leftBox {
//             width: 65%;
//             height: 600px;
//             background: #fff;
//             display: flex;
//             flex-direction: column;
//             .topBox {
//                 width: 100%;
//                 height: 120px;
//                 border-bottom: 1px solid #000;
//                 display: flex;
//                 flex-direction: column;
//                 // justify-self: center;
//                 justify-content: center;
//                 align-items: center;
//                 p {
//                     margin-bottom: 0;
//                 }
//                 .text_one{
//                     font-size: 30px;
//                     font-weight: bold;
//                     color: red;
//                 }
//                 .text_tow{
//                     span {
//                         color: red;
//                         font-size: 25px;
//                     }
//                 }
//             }
//             .bottomBox {
//                 flex: 1;
//             }
//         }
//         .rightBox {
//             width: 30%;
//             height: 100%;
//             background: #fff;
//             margin-left: 30px;
//         }
//     }
// }

// ul {
//     margin-left: 80px;
//     li{
//         font-size: 13px;
//         cursor: pointer;
//         list-style-type:disc;
//         span{
//             font-size: 20px;
//             padding-left:10px;
//         }
//     }
//     li:hover {
//         color: red;
//      }
// }
