.tag-wrap {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    @media screen and (max-width: 857px) {
        .you {
            display: none !important;
        }

        .zuo {
            width: 100% !important;
        }
    }


    //左侧
    .zuo {
        width: 69%;
        height: 100%;
        // background-color: #eee;
        padding: 10px 0;

        // 左上
        .zuos {
            width: 100%;
            min-height: 20px;

            .tagitem {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    text-align: center;
                }

                .itemlab {
                    font-size: 26px;
                    color: #ff0064;
                }

                .itemlab1 {
                    font-size: 20px;
                    color: #ff0064;
                }
            }
        }

        // 左中
        .zuoz {
            width: 100%;
            // background-color: #fff;
            margin: 20px 0;

            .tagTitle {
                width: 100%;

                // 高亮显示
                .active {
                    background-color: #ff0064 !important;
                    color: #fff;
                }

                h3 {
                    height: 50px;
                    line-height: 50px;
                    text-indent: 1em;
                }

                p {
                    font-size: 14px;
                }

            }

            .tab-box {
                width: 100%;
                // background-color: #fff;
                display: flex;
                flex-wrap: wrap;
                padding: 10px 0;

                .tagactive {
                    height: 30px;
                    border: 1px solid #eee;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 5px;
                    margin: 5px;
                    padding: 3px 5px;
                }
                .tag-tagactive{
                    background: #ff0064 !important;
                    color: #fff !important;
                    height: 30px;
                    border: 1px solid #333;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 5px;
                    margin: 5px;
                    padding: 3px 5px;
                }
            }

        }

        // 左下
        .zuox {
            width: 100%;
            // background-color: #fff;
            margin-top: 20px;

            .tagdown {
                width: 100%;
                height: 200px;
                // background-color: #fff;
                border-top: 1px solid #fff;
                margin-bottom: 20px;

                p {
                    margin: 20px;
                    padding-top: 10px;

                    span {
                        font-weight: 600;
                        font-size: 16px;
                    }
                }

                img {
                    width: 240px;
                    height: 130px;
                    float: left;
                    margin-left: 20px;
                }

                .hezi {
                    width: 50%;
                    margin-left: 36%;
                    margin-top: 30px;
                    margin-top: 130px;
                }
            };
            .tagdown:hover .items{
                color: #ff0064;
            }
        }
    }

    // 右侧
    .you {
        width: 28%;
        margin-left: 2%;
    }
}