.tag-wrap {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

@media screen and (max-width: 857px) {
  .tag-wrap .you {
    display: none !important;
  }
  .tag-wrap .zuo {
    width: 100% !important;
  }
}

.tag-wrap .zuo {
  width: 69%;
  height: 100%;
  padding: 10px 0;
}

.tag-wrap .zuo .zuos {
  width: 100%;
  min-height: 20px;
}

.tag-wrap .zuo .zuos .tagitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-wrap .zuo .zuos .tagitem p {
  text-align: center;
}

.tag-wrap .zuo .zuos .tagitem .itemlab {
  font-size: 26px;
  color: #ff0064;
}

.tag-wrap .zuo .zuos .tagitem .itemlab1 {
  font-size: 20px;
  color: #ff0064;
}

.tag-wrap .zuo .zuoz {
  width: 100%;
  margin: 20px 0;
}

.tag-wrap .zuo .zuoz .tagTitle {
  width: 100%;
}

.tag-wrap .zuo .zuoz .tagTitle .active {
  background-color: #ff0064 !important;
  color: #fff;
}

.tag-wrap .zuo .zuoz .tagTitle h3 {
  height: 50px;
  line-height: 50px;
  text-indent: 1em;
}

.tag-wrap .zuo .zuoz .tagTitle p {
  font-size: 14px;
}

.tag-wrap .zuo .zuoz .tab-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.tag-wrap .zuo .zuoz .tab-box .tagactive {
  height: 30px;
  border: 1px solid #eee;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  padding: 3px 5px;
}

.tag-wrap .zuo .zuoz .tab-box .tag-tagactive {
  background: #ff0064 !important;
  color: #fff !important;
  height: 30px;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  padding: 3px 5px;
}

.tag-wrap .zuo .zuox {
  width: 100%;
  margin-top: 20px;
}

.tag-wrap .zuo .zuox .tagdown {
  width: 100%;
  height: 200px;
  border-top: 1px solid #fff;
  margin-bottom: 20px;
}

.tag-wrap .zuo .zuox .tagdown p {
  margin: 20px;
  padding-top: 10px;
}

.tag-wrap .zuo .zuox .tagdown p span {
  font-weight: 600;
  font-size: 16px;
}

.tag-wrap .zuo .zuox .tagdown img {
  width: 240px;
  height: 130px;
  float: left;
  margin-left: 20px;
}

.tag-wrap .zuo .zuox .tagdown .hezi {
  width: 50%;
  margin-left: 36%;
  margin-top: 30px;
  margin-top: 130px;
}

.tag-wrap .zuo .zuox .tagdown:hover .items {
  color: #ff0064;
}

.tag-wrap .you {
  width: 28%;
  margin-left: 2%;
}
