* {
    transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
        filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;

    body {
        transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
            filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
            border-color 0.2s ease-in-out;
    }
}

@media screen and (max-width: 767px) {
    .DetailsRight {
        display: none !important;
    }

    .DetailsLefts {
        width: 100% !important;
    }

    .ding {
        left: 0px !important;
    }
}
.Details {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 80px;
    .DetailsLefts {
        width: 70%;
        height: 100%;
        position: relative;

        .DetailsLeft {
            background: #fff;
            .imgg {
                width: 100%;
                height: 400px;
            }

            .H3 {
                text-align: center;
                height: 40px;
                line-height: 40px;
                margin: 10px 0;
            }

            h1 {
                text-align: center;
                padding-top: 60px;
                font-size: 30px;
            }

            ul {
                border-top: 1px solid rgb(241, 237, 237);
                border-bottom: 1px solid rgb(241, 237, 237);
                margin-top: 50px;
                width: 95%;
                padding-left: 40px;
                margin-left: 20px;
                border-left: 5px solid #ccc;

                li {
                    font-size: 15px;
                    list-style-type: disc;
                    padding-top: 5px;
                    display: list-item;
                    text-align: -webkit-match-parent;
                }
            }

            h2 {
                padding-top: 30px;
                padding-left: 30px;
            }
            p {
                width: 95%;
                padding-left: 30px;
                margin-left: 20px;
                padding-top: 20px;
            }
            h3 {
                padding-top: 20px;
                font-weight: bold;
                padding-left: 30px;
            }
            pre {
                width: 95%;
                padding-left: 30px;
                margin-left: 20px;
                display: block;
                font-family: monospace;
                white-space: pre;
            }

            pre {
                width: 95%;
                background: #ccc;
                border: 1px solid #fff;
                max-height: 370px;
                padding-left: 10px;
                .language-HTML {
                    width: 90%;
                    height: 160px;
                    padding: 9px 10px 12px;
                    border-radius: 0;
                    color: var(--main-text-color);
                    overflow: auto;
                    overscroll-behavior: contain;
                    font-size: 12px;
                    margin: 0;
                    white-space: pre-wrap;
                    padding-top: 20px;
                }
            }
            iframe {
                display: block;
                width: 95%;
                height: 450px;
                border: 0;
                overflow: hidden;
                clear: both;
                margin: 1rem 0;
                border: 1px solid #ccc;
                margin-left: 20px;
            }

            

            table {
                border: 1px solid #ccc;
                margin-left: 10px;
                width: 96%;
                min-height: 150px;
                text-align: center;

                thead{
                    th{
                        text-align: center !important;
                    }
                }

                tr {
                    border: 1px solid #ccc;
                    text-align: center !important;
                }

                td {
                    border: 1px solid #ccc;
                    text-align: center !important;
                }

                iframe .player {
                    padding-left: 50px;
                }
            }
        }

        .H3 {
            width: 100%;
            height: 60px;
            background-color: #eee;
            text-align: center;
        }

        #hee {
            width: 100%;
            padding-left: 0px;
            // margin-bottom: 20px;
            padding-bottom: 20px;
            background-color: #fff;
            margin-top: 30px;

            .fa textarea {
                width: 100%;
                button {
                    float: right;
                }
                button {
                    float: right;
                }
            }
            .ant-pagination-item-link{
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .DetailsRight {
        width: 30%;
        height: 600px;
        position: fixed;
        right: 1.5%;
        border-radius: var(--border-radius);
        background-color: var(--bg-second);
        box-shadow: var(--box-shadow);
        margin-bottom: 1.3rem;
        line-height: 1.29;

        .DetailsTop {
            width: 70%;
            // height: 48%;
            background-color: #fff;
            h1 {
                width: 100%;
                height: 40px;
                padding-left: 20px;
                border-bottom: rgb(148, 143, 143);
            }

            ul {
                padding-left: 20px;

                li {
                    opacity: 1;
                    height: 32px;
                    transform: none;
                }
            }
        }

        .DetailsBottom {
            width: 70%;
            margin-top: 20px;
            cursor: pointer;
            h3 {
                padding-left: 10px;
            }

            div {
                list-style-type: disc;
                position: relative;
                z-index: 10;
                padding: 4px 0 4px 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
            }
        }
    }

    .ding {
        // width: 80px;
        position: fixed;
        left: 20px;
        top: 250px;
        div {
            padding-left: 2px;
            padding-top: 5px;
        }
        .mm {
            padding-top: 13px;
        }
        h1 {
            margin-top: 20px;
        }
    }
}
.activeInd {
    background: rgba(250, 248, 248, 0.685) !important;
    color: red;
}
.Fa {
    float: right !important;
    // margin-right: 20px !important;
    width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
}
.ant-pagination{    
   text-align: center;
}

.activeInd {
    background: rgba(250, 248, 248, 0.685) !important;
    color: red;
}
.commentList{
    border-bottom: 1px solid #d1d3d7;
    padding-left: 20px !important;
}

.ant-anchor-ink::before{
    display: none !important;
}