.article-wrap {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 767px) {
        .article-wrap-left {
            width: 70% !important;
        }
    }

    .article-wrap-left {
        width: 100%;
        // min-height: 100%;

        .article-wrap-left-swiper {
            width: 100%;
            // height: 350px;
            background-color: #fff;
            padding: 10px;

            .swiper-item-box {
                position: relative;
                height: 100%;

                img {
                    height: 350px !important;
                }

                .swiper-item-box-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .swiper-item-box-content-title {
                        color: yellowgreen;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }

        .article-wrap-left-list {
            width: 100%;
            background-color: #fff;
            margin: 10px 0;

            .article-wrap-left-list-nav {
                width: 100%;
            }
        }
    }

    .article-wrap-right {
        width: 25%;
        min-height: 100%;
        position: sticky;
        // top: 12%;
        // right: 8%;

        .article-wrap-right-top {
            width: 100%;
            margin: 0 0 10px 0;
        }

        .article-wrap-right-bottom {
            width: 100%;
            span {
                display: inline-block;
                border: 1px solid #eee;
                margin: 3px 5px;
                padding: 3px 5px;
                font-size: #333;
                font-size: 13px;
                cursor: pointer;
            }

            span:hover {
                transition-duration: 1s;
                border: 1px solid #ff0064;
                color: #ff0064;
            }
        }
    }
}

.EnptyBox{
    width: 100%;
    height: 200px;
    margin-bottom:30px;
    // background: skyblue;
}